<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
     <script src="https://www.google.com/jsapi?key=ABQIAAAAVXhnM7KopThH3Ozri1XiKhTfTpv2diSQzQ1t20vCHcLq69DQWhQMHhjrZ7mQwZo1ZEUNG0WIwEEVig" type="text/javascript"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
     <!--[if (gte IE 6)&(lte IE 8)]>
  <script type="text/javascript" src="selectivizr.js"></script>
<![endif]-->
     
    <title>The Bay Easy Brass Band</title>
</head>
<body>
    <div id="container">
    <div id="wrap">
        {{ content }}
    </div>
    </div>  
</body>
</html>
